<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureAd.Instance" value="https://login.microsoftonline.com/" />
    <add key="AzureAd.TenantId" value="37788e5b-088c-468a-a2f5-a7bb01f73cda" />
    <add key="AzureAd.ClientId" value="89a11204-f93c-4caa-91db-46ad3f2a055f" />
  </appSettings>
</configuration>